TZ=Asia/Kolkata

PUID=1000
PGID=1000

MEDIA_ROOT=/home/ubuntu/media

PLEX_DOMAIN=plex.example.com
REQUEST_DOMAIN=request.example.com
SONARR_DOMAIN=sonarr.example.com
RADARR_DOMAIN=radarr.example.com
PROWLARR_DOMAIN=prowlarr.example.com
TORRENT_DOMAIN=torrent.example.com